<launch>

    <node name="encoder_node" pkg="encoder_node" type="encoder_node.py" output="screen" />
    <node name="cmd_vel_camera_republish" pkg="topic_tools" type="transform" args="/camera/cmd_vel /encoder/setpoint std_msgs/Float64 m.angular.z"/>
    <node name="odometry_camera_republish" pkg="topic_tools" type="transform" args="/camera/odometry/filtered /encoder/rot_speed_filtered std_msgs/Float64 m.twist.twist.angular.z"/>

    <node name="motor_pid" pkg="pid" type="controller" output="screen" >
      <param name="Kp" value="5" />
      <param name="Ki" value="100" />
      <param name="Kd" value="0" />
      <param name="upper_limit" value="120" />
      <param name="lower_limit" value="90" />
      <param name="cutoff_frequency" value="20" />
      <param name="windup_limit" value="120" /> 
      <param name="max_loop_frequency" value="300.0" />
      <param name="min_loop_frequency" value="1" />
      <param name="setpoint_timeout" value="-1.0" />
      <param name="topic_from_plant" value="/encoder/rot_speed_filtered" />
      <param name="topic_from_controller" value="/encoder/control_effort" />
      <param name="setpoint_topic" value="/encoder/setpoint" />
      <param name="plant_order" value="1" />
     </node>
</launch>
