<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:property name="M_SCALE" value="0.01"/>
    <xacro:property name="BASE_RADIUS" value="0.18"/>
    <xacro:property name="BASE_HEIGHT" value="0.03"/>
    <xacro:property name="BASE_MASS" value="20"/> <!-- 20 -->

    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:property name="width" value="0.5"/> <!-- Square dimensions (widthxwidth) of beams -->
    <xacro:property name="height" value="0.5"/> <!-- Link 1 -->
    <xacro:property name="width_2" value="0.1"/> <!-- Square dimensions (widthxwidth) of beams -->
    <xacro:property name="height_2" value="0.5"/> <!-- Link 1 -->
    <xacro:property name="axel_offset" value="0.05"/> <!-- Space btw top of beam and the each joint -->

    <xacro:property name="roll" value="${M_PI/2}"/> <!-- Space btw top of beam and the each joint -->
    <xacro:property name="yaw" value="${M_PI/2}"/> <!-- Space btw top of beam and the each joint -->



   

    <!-- robotino_body -->
    <xacro:macro name="robotino_body">
        <!-- base_link -->
        <link name="base_link"/>

        <joint name="base_body_joint" type="fixed">
            <parent link="base_link"/>
            <child link="base_body_link"/>
            <origin xyz="0 0 0" rpy="0 0 3.1415"/>
        </joint>


        <link name="base_body_link">
            <inertial>
                <mass value="${BASE_MASS}"/>
                <origin xyz="0 0 0.035" rpy="0 0 3.1415"/>
                <inertia ixx="0.8750" ixy="0.0" ixz="0.0"
                         iyy="0.875" iyz="0.0"
                         izz="1"/>
            </inertial>
            <visual>
                <origin xyz="0.01 0 0" rpy="0 0 ${M_PI/2}"/>
                <geometry>
                    <mesh filename="package://robotino_description/meshes/parts/robotino_base.dae"
                          scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}"/>
                <geometry>
                    <mesh filename="package://robotino_description/meshes/parts/robotino_base.stl"
                          scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
                </geometry>
            </collision>
        </link>
       
        <!-- wheels -->
        <xacro:wheel name="wheel2" parent="base_link">
            <origin xyz="-0.0001 0.1825 0.059154" rpy="0 0 0"/>
    	    <axis xyz="0 1 0" rpy="0 0 0"/>	
        </xacro:wheel>
        <xacro:wheel name="wheel0" parent="base_link">
            <origin xyz="-0.157067 -0.090625 0.059154" rpy="0 0 2.094395102393195"/>
    	    <axis xyz="0 1 0" rpy="0 0 0"/>
        </xacro:wheel>
        <xacro:wheel name="wheel1" parent="base_link">
            <origin xyz="0.156867 -0.090625 0.059154" rpy="0 0 -2.094395102393195"/>
   	    <axis xyz="0 1 0" rpy="0 0 0"/>
        </xacro:wheel> 

        <!-- others -->
        <!-- lasersensor -->
        <xacro:lasersensor name="lasersensor" parent="base_link">
            <origin xyz="0.0 0 0.26" rpy="0 0 0"/>
        </xacro:lasersensor>

        <!-- pantilt holder part 1-->
        <xacro:pantilt name="pantilt" parent="base_link">
            <origin xyz="0.0 0 0.325" rpy="0 0 0"/>
        </xacro:pantilt>

        <!-- pantilt holder part 2-->
        <xacro:pantiltring name="pantiltring" parent="base_link">
            <origin xyz="0.0 0 0.173" rpy="0 0 0"/>
        </xacro:pantiltring>

        <!-- pantilt holder part 3-->
        <xacro:cameraholder name="cameraholder" parent="pantilt_link">
            <origin xyz="0.0 0 0" rpy="0 0 0"/>
        </xacro:cameraholder>

        <!-- imu -->
        <xacro:imu name="imu" parent="base_link">
            <origin xyz="0.0 0 10" rpy="0 3.1415 0"/>
        </xacro:imu>
    </xacro:macro>
</robot>
