<launch>
    <arg name="sim" default="true"/>
    <arg name="name" default="robotino_arena"/>
    <arg name="world" default="$(find robotino_simulations)/worlds/$(arg name).world"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="gt" default="$(arg sim)"/>
    <arg name="gt_state" default="ground_truth/state"/>
    <arg name="base_gt" default="base_footprint_gt"/>
    <node pkg="tf" type="static_transform_publisher" name="world_map_tf"  args="0 0 0 0 0 0 world map 100" output="screen"/>

    <include file="$(find robotino_description)/launch/robotino.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
    </include>
</launch>
