<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved
This is the Gazebo URDF model for the Intel RealSense D435 camera
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="gazebo_d435" params="camera_name reference_link topics_ns depth_optical_frame color_optical_frame publish_pointcloud:=true" > <!-- infrared1_optical_frame infrared2_optical_frame -->

    <!-- Load parameters to model's main link-->
    <xacro:property name="deg_to_rad" value="0.01745329251994329577" />
    <gazebo reference="${reference_link}">
      <self_collide>0</self_collide>
      <enable_wind>0</enable_wind>
      <kinematic>0</kinematic>
      <gravity>1</gravity>
      <!--<mu>1</mu>-->
      <mu2>1</mu2>
      <fdir1>0 0 0</fdir1>
      <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
      <kp>1e+13</kp>
      <kd>1</kd>
      <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->


      <sensor name="kcamera" type="depth">
        <update_rate>30</update_rate>
        <camera>
          <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov> <!--85.2, 69.4-->
          <image>
            <width>848</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>100</far>
          </clip>
        </camera>
        <plugin name="kcontroller" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.05</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>30</updateRate>
          <cameraName>${camera_name}_ir</cameraName>
          <imageTopicName>/${camera_name}2/color/image_raw</imageTopicName>
          <cameraInfoTopicName>/${camera_name}2/color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>/${camera_name}2/depth/image_raw</depthImageTopicName>
          <depthImageInfoTopicName>/${camera_name}2/depth/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>/${camera_name}2/depth/points</pointCloudTopicName>
          <frameName>camera_depth_optical_frame</frameName>
          <pointCloudCutoff>0.4</pointCloudCutoff>
          <pointCloudCutoffMax>5</pointCloudCutoffMax>
          <distortionK1>0.00000001</distortionK1>
          <distortionK2>0.00000001</distortionK2>
          <distortionK3>0.00000001</distortionK3>
          <distortionT1>0.00000001</distortionT1>
          <distortionT2>0.00000001</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
          <hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>




  </xacro:macro>
</robot>