<launch>

  <node name="map_extract" pkg="active_slam" type="map_extract_node" output="screen" respawn="true">
    <rosparam file="$(find robotino_simulations)/config/camera.yaml" command="load"/>
    <param name="prob_threshold_free"  value="70"/>
    <param name="debug" value="false"/>
  </node>

</launch>
