<?xml version="1.0"?>
<model>
  <name>D435</name>
  <version>1.0</version>
  <sdf version='1.6'>d435.sdf</sdf>

  <author>
   <name>Mohamed Abdelkader</name>
   <email>mohamedashraf123@gmail.com</email>
  </author>

  <description>
    This is a model of the D435 dpth camera.
  </description>
</model>